<html>
  <head>
    <base target="_self">
    <title>功能树</title>
    <meta http-equiv=Content-Type content="text/html; charset=gb2312">
    <base target="collquery_query_main">
  </head>
  <body leftmargin="6" topmargin="6" >
    <%= js_treeview_tag(@tree) %>
  </body>
</html>
