<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=GBK">
	<title>登录成功</title>
</head>

<body>
<script language="Javascript">
    window.resizeTo(screen.availWidth,screen.availHeight);
    window.moveTo(0,0);
    opennew();
    closethis();
    
    function opennew()
    {
       	window.open("/pages/framework/index.htm","","menubar=no,location=no,toolbar=yes,scrollbars=yes,resizable=yes"); 
    }  
    
    function closethis()
    {
        //window.close();  //会导致确认提示框  
        self.close();
    }

</script>

<center>
<br><br><br>
		登录成功。<bean:message key="application.name"/>已经在另外窗口中运行。
		<br> 
  		您可以在本窗口中继续浏览其他网站，或直接<a onclick="closethis();" href="javascript:void(0)">关闭</a>本窗口。 
</center>
</body>
</html>
