<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link href="/stylesheets/style_table.css?1194846686" media="screen" rel="Stylesheet" type="text/css" /> 
    <%= stylesheet_link_tag "style_table" %>
    <%= stylesheet_link_tag "common_style" %> 
  </head>
<%= javascript_include_tag "prototype" %>
<script language="JavaScript">
var xmlHttp;
function newActive(){
    if(xmlHttp==null){
                if(window.ActiveXObject){
                    xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
                }else if(window.XMLHttpRequest){
                    xmlHttp=new XMLHttpRequest();
                }else {return;}
    }
}

function add(){
    if(self.source.document.getElementById("param_configure_code").value==null||self.source.document.getElementById("param_configure_code").value==""){
        alert("请在左窗口中选择配置项！");
    }else{
        var configure_params=self.source.document.getElementById("param_configure_code").value;
        var event_code=self.document.getElementById("event_code").value;
        if (configure_params!=null&&configure_params!=""){
                url = "/scm/event/note/need_changed_items/addItem";
                newActive();
                if(xmlHttp==null){
                    return;
                }

                var content="configure_params="+configure_params+"&event_code="+event_code;//构造要携带的数据  
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 
                
                if(xmlHttp.readystate==4) //请求状态为4表示成功
                    {
                    if(xmlHttp.status==200) //http状态200表示OK
                        {
                            temp=xmlHttp.responseText.substr(0,6);
                            if(temp=="@@@@@@"){
                                temp=xmlHttp.responseText.substr(6,xmlHttp.responseText.length)
                                alert(temp);
                            }else{
                                document.getElementById ("list").innerHTML =xmlHttp.responseText; 
                            }
                            
                        }
                    else //http返回状态失败
                        {
                            alert("服务端返回状态" + xmlHttp.statusText);
                        }
                    }
                else //请求状态还没有成功，页面等待
                    {
                        document .getElementById ("list").innerHTML ="数据加载中";
                    }
            }
    }
}
function deleteItem(){
    if(document.getElementById("param_configure_code").value==null||document.getElementById("param_configure_code").value==""){
        alert("请在右窗口中选择配置项！");
    }else{
        var configure_params=document.getElementById("param_configure_code").value;
        var event_code=self.document.getElementById("event_code").value;
        if (configure_params!=null&&configure_params!=""){
                url = "/scm/event/note/need_changed_items/deleteItem";
                newActive();
                if(xmlHttp==null){
                    return;
                }

                var content="configure_params="+configure_params+"&event_code="+event_code;//构造要携带的数据  
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 
                
                if(xmlHttp.readystate==4) //请求状态为4表示成功
                    {
                    if(xmlHttp.status==200) //http状态200表示OK
                        {
                            var   tempArray=new   Array();
                            tempArray=(xmlHttp.responseText).split("@@");
                            if(tempArray[0]=="0"){
                                if(confirm(tempArray[1])){
                                    reallyDeleteItem();
                                }else{
                                }
                            }else{
                                alert(tempArray[1]);
                            }
                        }
                    else //http返回状态失败
                        {
                            alert("服务端返回状态" + xmlHttp.statusText);
                        }
                    }
                else //请求状态还没有成功，页面等待
                    {
                        document .getElementById ("list").innerHTML ="数据加载中";
                    }
            }
    }
}
function reallyDeleteItem(){
    if(document.getElementById("param_configure_code").value==null||document.getElementById("param_configure_code").value==""){
        alert("请在右窗口中选择配置项！");
    }else{

        var configure_params=document.getElementById("param_configure_code").value;
        var event_code=self.document.getElementById("event_code").value;
        if (configure_params!=null&&configure_params!=""){
                url = "/scm/event/note/need_changed_items/deleteItemReally";
                newActive();
                if(xmlHttp==null){
                    return;
                }

                var content="configure_params="+configure_params+"&event_code="+event_code;//构造要携带的数据  
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 
                if(xmlHttp.readystate==4) //请求状态为4表示成功
                    {
                    if(xmlHttp.status==200) //http状态200表示OK
                        {
                            if(xmlHttp.responseText=="ok"){
                                load();
                            }
                        }
                    else //http返回状态失败
                        {
                            alert("服务端返回状态" + xmlHttp.statusText);
                        }
                    }
                else //请求状态还没有成功，页面等待
                    {
                        document .getElementById ("list").innerHTML ="数据加载中";
                    }
            }
    }
}

function changeProjectProduct(configure_params){
    if(configure_params==null||configure_params==""){
        alert("请与系统管理员联系！");
    }else{
        var event_code=self.document.getElementById("event_code").value;
        url = "/scm/event/note/need_changed_items/changeProjectProduct";
        newActive();
        if(xmlHttp==null){
              return;
        }

        var content="configure_params="+configure_params+"&event_code="+event_code;//构造要携带的数据  
        xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
        xmlHttp.send(content);//发送数据 
                
        if(xmlHttp.readystate==4) //请求状态为4表示成功
              {
               if(xmlHttp.status==200) //http状态200表示OK
                    {
                        document.getElementById ("projectProductList").innerHTML =xmlHttp.responseText; 
                    }
                else //http返回状态失败
                    {
                        alert("服务端返回状态" + xmlHttp.statusText);
                     }
                }
         else //请求状态还没有成功，页面等待
                {
                    document .getElementById ("list").innerHTML ="数据加载中";
                }
    }
}
function selectdelete(checkbox){
    var param_configure_code=document.getElementById("param_configure_code").value;
    if(param_configure_code==null||param_configure_code==""){
        if(checkbox.checked){
            document.getElementById("param_configure_code").value=checkbox.value;
        }else{
            //donothing
        }
    }else{
        if(checkbox.checked){
            //把原来选中的变成不被选中
            document.getElementById(param_configure_code).checked=false;
            //用现在的值覆盖原来的值
            document.getElementById("param_configure_code").value=checkbox.value;
        }else{
            //把原来选中的变成不被选中
            document.getElementById(param_configure_code).checked=false;
            //用空值覆盖原来的值
            document.getElementById("param_configure_code").value="";
        }
    }
}
function productsubmit(){
    if(document.productform==null){
        alert("没有需要升级的产品");
    }else{
        productparams="";
        if(document.productform.productattribute==null){
            alert("没有需要升级的产品");
        }else{
            producttemp=document.productform.productattribute.value;
            producttempArray=producttemp.split("@");
            for(i=0;i<producttempArray.length;i++){//逐行取参数
                if(producttempArray[i]!=null&&producttempArray[i]!=""){
                    if(document.getElementsByName("product"+producttempArray[i])!=null){
                        if(document.getElementsByName("product"+producttempArray[i])[0].checked){
                            productparams+=document.getElementsByName("product"+producttempArray[i])[0].value+"|@";
                        }else if(document.getElementsByName("product"+producttempArray[i])[1].checked){
                            productparams+=document.getElementsByName("product"+producttempArray[i])[1].value+"|@";
                        }
                    }else{
                        //do nothing
                    }
                }
            }
            var event_code=self.document.getElementById("event_code").value;
            url = "/scm/event/note/need_changed_items/projectProductSubmit";
            newActive();
            if(xmlHttp==null){
                return;
            }
            if(productparams!=""){
                var content="productparams="+productparams+"&event_code="+event_code;//构造要携带的数据  
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 
        
                if(xmlHttp.readystate==4) //请求状态为4表示成功
                {
                    if(xmlHttp.status==200) //http状态200表示OK
                    {
                        alert(xmlHttp.responseText); 
                    }
                    else //http返回状态失败
                    {
                        alert("服务端返回状态" + xmlHttp.statusText);
                    }
                }
                else //请求状态还没有成功，页面等待
                {
                    document .getElementById ("list").innerHTML ="数据加载中";
                }
            }else{
                alert("没有需要升级的产品");
            }
        }
    }
}
function projectsubmit(){
    if(document.projectform==null){
        alert("没有需要升级的项目");
    }else{
        projectparams="";
        if(document.projectform.projectattribute==null){
            alert("没有需要升级的项目");
        }else{
            projecttemp=document.projectform.projectattribute.value;
            projecttempArray=projecttemp.split("@");
            for(i=0;i<projecttempArray.length;i++){//逐行取参数
                if(projecttempArray[i]!=null&&projecttempArray[i]!=""){
                    if(document.getElementsByName("project"+projecttempArray[i])!=null){
                        
                        if(document.getElementsByName("project"+projecttempArray[i])[0].checked){
                            projectparams+=document.getElementsByName("project"+projecttempArray[i])[0].value+"|@";
                        }
                        if(document.getElementsByName("project"+projecttempArray[i])[1].checked){
                            projectparams+=document.getElementsByName("project"+projecttempArray[i])[1].value+"|@";
                        }
                    }else{
                        //do nothing
                    }
                }
            }
            var event_code=self.document.getElementById("event_code").value;
            url = "/scm/event/note/need_changed_items/projectProductSubmit";
            newActive();
            if(xmlHttp==null){
               return;
            }

            if(projectparams!=""){
                var content="projectparams="+projectparams+"&event_code="+event_code;//构造要携带的数据  
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 
        
                if(xmlHttp.readystate==4) //请求状态为4表示成功
                {
                    if(xmlHttp.status==200) //http状态200表示OK
                    {
                        alert(xmlHttp.responseText); 
                    }
                    else //http返回状态失败
                    {
                        alert("服务端返回状态" + xmlHttp.statusText);
                    }
                }
                else //请求状态还没有成功，页面等待
                {
                    document .getElementById ("list").innerHTML ="数据加载中";
                }
            }else{
                alert("没有需要升级的项目");
            }
        }
   }
}
function projectproducesubmit(){
    if(document.projectform==null&&document.productform==null){
        alert("没有需要升级的项目和产品");
    }else{
        projectparams="";
        productparams="";
        if(document.projectform.projectattribute!=null&&document.projectform.projectattribute.value!=""){
            projecttemp=document.projectform.projectattribute.value;
            projecttempArray=projecttemp.split("@");
            for(i=0;i<projecttempArray.length;i++){//逐行取参数
                if(projecttempArray[i]!=null&&projecttempArray[i]!=""){
                    if(document.getElementsByName("project"+projecttempArray[i])!=null){
                        if(document.getElementsByName("project"+projecttempArray[i])[0].checked){
                            projectparams+=document.getElementsByName("project"+projecttempArray[i])[0].value+"|@";
                        }else if(document.getElementsByName("project"+projecttempArray[i])[1].checked){
                            projectparams+=document.getElementsByName("project"+projecttempArray[i])[1].value+"|@";
                        }
                    }else{
                        //do nothing
                    }
                }
            }
        }
        if(document.productform.productattribute!=null&&document.productform.productattribute.value!=""){
            producttemp=document.productform.productattribute.value;
            producttempArray=producttemp.split("@");
            for(i=0;i<producttempArray.length;i++){//逐行取参数
                if(producttempArray[i]!=null&&producttempArray[i]!=""){
                    if(document.getElementsByName("product"+producttempArray[i])!=null){
                        if(document.getElementsByName("product"+producttempArray[i])[0].checked){
                            productparams+=document.getElementsByName("product"+producttempArray[i])[0].value+"|@";
                        }else if(document.getElementsByName("product"+producttempArray[i])[1].checked){
                            productparams+=document.getElementsByName("product"+producttempArray[i])[1].value+"|@";
                        }
                    }else{
                        //do nothing
                    }
                }
            }
        }

        if(projectparams==""&&productparams==""){
                alert("没有需要升级的项目和产品");
        }else{
                var event_code=self.document.getElementById("event_code").value;
                url = "/scm/event/note/need_changed_items/projectProductSubmit";
                newActive();
                if(xmlHttp==null){
                      return;
                }
                var content="event_code="+event_code;
                if(projectparams!=""){
                    content+="&projectparams="+projectparams;//构造要携带的数据 
                }
                if(productparams!=""){
                    content+="&productparams="+productparams;//构造要携带的数据 
                }
                xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
                xmlHttp.send(content);//发送数据 

                if(xmlHttp.readystate==4) //请求状态为4表示成功
                {
                    if(xmlHttp.status==200) //http状态200表示OK
                    {
                        alert(xmlHttp.responseText); 
                    }
                    else //http返回状态失败
                    {
                        alert("服务端返回状态" + xmlHttp.statusText);
                    }
                }
                else //请求状态还没有成功，页面等待
                {
                    document .getElementById ("list").innerHTML ="数据加载中";
                }
        }
   }
}
</script>
  <body onload="load();">
    <table cellpadding=0 cellspacing=0 border=0 width=“1000px” height="400px">
      <tr>
        <td width="450px"  height="10px" colspan="1"><font style="font-weight:bold" color="green">&nbsp;当前事件：<%=@event_name%></font></td>
        <td ><font style="font-weight:bold" color="green">&nbsp;项目：<%=@project_name%></font></td>
      </tr>
      <tr>
        <td valign="top" width="450px" height="390px">
          <table align="center" cellpadding=0 cellspacing=0 border=1 style="width:100%;height:390px;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
            <tr>
              <td height="380px">
                <div style="overflow-x:auto;overflow-y:auto;width:450px;height:605px">
                    <iframe name="source" id="source" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="yes" src="/scm/event/note/need_source_items?<%=@event_code%>"> </iframe>  
                </div>
              </td>
            </tr>
            <tr>
              <td valign=top align=center style="height:37px">
                 <table valign="top" cellpadding=0 cellspacing=0 border=0 style="height:37px;width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                   <tr>
                     <td  align="center">
                        <input type="hidden" name="event_code" id="event_code" value="<%=@event_code%>">
                        <input type="button" value="添加" onclick="add()" class="btn3_mouseout">&nbsp;<input type="button" value="删除" onclick="deleteItem()" class="btn3_mouseout">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td valign="top"  width="570px" height="370px">
            <table valign="top" cellpadding=0 cellspacing=0 border=1 style="height:390px;width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                <tr>
                  <td valign="top" height="180px">
                    <div style="overflow-x:auto;overflow-y:auto;height:300px;">
                    <table valign="top" cellpadding=0 cellspacing=0 border=0 style="width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                        <tr>
                            <td id="list">&nbsp;</td>
                        </tr>
                    </table>
                    </div>
                  </td>
                </tr>
               
                <tr>
                    <td valign="top" height="10px">
                        <table valign="top" cellpadding=0 cellspacing=0 border=0 style="height:10px;width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 0px; border-right-style: solid; border-right-width: 0px">
                            <hr/>
                            <thead class="td_header_bak2">
                               <tr>
                                <td valign="middle"><font color="green">涉及项目</font></td>
                                <td valign="middle"><font color="green">涉及产品</font></td>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                  <td valign="top" height="170px">
                    <div  style="overflow-x:auto;overflow-y:auto;height:265px;">
                    <table valign="top" cellpadding=0 cellspacing=0 border=0 style="height:100%;width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 0px; border-right-style: solid; border-right-width: 0px">
                        <tr>
                        <td colspan="5" id="projectProductList">
                            <table cellpadding=0 cellspacing=0 border=0 style="height:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 0px; border-right-style: solid; border-right-width: 0px">
                                    <tr>
                                        <td valign="top">
                                            <div style="overflow-x:auto;overflow-y:auto">
                                            <table cellpadding=0 cellspacing=0 border=0 style="width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                                                <thead class="td_header_bak2">
                                                    <tr>
                                                        <td class="td_header_bak2" width="150px">项目名称</td>
                                                        <td class="td_header_bak3" width="100px">配置项升级后是否适用</td>
                                                        <td class="td_header_bak3" width="80px">项目编号</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td6" width="150px">&nbsp;</td>
                                                        <td class="td7" width="100px">&nbsp;</td>
                                                        <td class="td7" width="80px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </td>
                                        <td valign="top">
                                            <div style="overflow-x:auto;overflow-y:auto">
                                            <table cellpadding=0 cellspacing=0 border=0 style="width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                                                <thead class="td_header_bak2">
                                                    <tr>
                                                        <td class="td_header_bak2" width="150px">产品名称</td>
                                                        <td class="td_header_bak3" width="100px">配置项升级后是否适用</td>
                                                        <td class="td_header_bak3" width="80px">产品版本</td>
                                                        <td class="td_header_bak3" width="80px">产品编号</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="td6" width="150px">&nbsp;</td>
                                                        <td class="td7" width="100px">&nbsp;</td>
                                                        <td class="td7" width="80px">&nbsp;</td>
                                                        <td class="td7" width="80px">&nbsp;</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                          </tr>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td  valign="top" height="10px">
                        <table valign="top" cellpadding=0 cellspacing=0 border=0 style="height:10px;width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
                            
                            <tr>
                                <td >
                                  &nbsp;&nbsp;
                                  <input align="center" type="button" onclick="projectsubmit()" name="projectbutton" class="btn3_mouseout" value="项目升级确认">
                                </td>
                                <td >
                                  <input align="center" type="button" onclick="projectproducesubmit()" name="bothbutton" class="btn3_mouseout" value="项目升级和产品升级一并确认">
                                </td>
                                <td >
                                  <input align="center" type="button" onclick="productsubmit()" name="productbutton" class="btn3_mouseout" value="产品升级确认">
                                  &nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                              <td colspan="3">&nbsp;
                              </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
      </tr>
    </table>
<script language="JavaScript">
function load(){
  url = "/scm/event/note/need_changed_items/addItem";
  newActive();
  if(xmlHttp==null){
      return;
  }
  var content="event_code="+self.document.getElementById("event_code").value;//构造要携带的数据  
  xmlHttp.open("POST",url,false);//使用POST方法打开一个到服务器的连接，以异步方式通信  
  xmlHttp.send(content);//发送数据 
  
  if(xmlHttp.readystate==4) //请求状态为4表示成功
      {
      if(xmlHttp.status==200) //http状态200表示OK
          {
            document.getElementById ("list").innerHTML =xmlHttp.responseText; 
          }
      else //http返回状态失败
          {
            alert("服务端返回状态" + xmlHttp.statusText);
          }
      }
  else //请求状态还没有成功，页面等待
      {
       document.getElementById ("list").innerHTML ="数据加载中";
      }  
}
</script>
  </body>

</html>