<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <%= stylesheet_link_tag "style_table" %> 
    <%= stylesheet_link_tag "common_style" %>
    
    <script language="javascript">
        
        //查询按钮
        function query(){
            form = document.forms[0];
            clickobject = form.click_hidden;
            click_value = clickobject.value;
            if(click_value != ""){
                alert("请先保存！");
                return false;
            }
            document.forms[0].submit();
        }
        
        //文本框回车车
        function onclickText(){
            if(event.keyCode == 13) {
                query();
            }
        }
        
        //点击生命周期按钮
        function cycle(){
            url = "/scm/event/note/event_cycle";
            window.showModalDialog(url, "", "dialogHeight:600px;dialogWidth:800px;");
        }
        
        //点击添加按钮
        function add(){
            form = document.forms[0];
            clickobject = form.click_hidden;
            clickobject.value = "1";
        }
        //点击修改按钮
        function update(){
            form = document.forms[0];
            clickobject = form.click_hidden;
            clickobject.value = "2";
        }
        
        //点击保存按钮
        function save(){
            form = document.forms[0];
            clickobject = form.click_hidden;
            clickobject.value = "";
        }
        
        //点击删除按钮
        function delet(){
            form = document.forms[0];
            clickobject = form.click_hidden;
            clickobject.value = "3";
            var msg = window.confirm("请确认删除");
            window.status = (msg)?"true":"false";
            if(msg) {
                alert("shanchu");
            }
        }

    </script>
  </head>
  <body bgcolor="#F6F6F6" >
  <% form_tag :action =>'index' do %>
  <input type="hidden" name="click_hidden">
  <table width="1000px">
     <tr>
       <td>
         <table>
           <tr>
             <td>
               事件名称：   <input type="text"  size="10" name="event_name" onkeydown="onclickText()" value="<%=@event_name%>" >
               标识事件类型：<input type="text" size="10" name="m_event_type" onkeydown="onclickText()" value="<%=@m_event_type%>">
               项目：       <input type="text" size="10" name="project_code" onkeydown="onclickText()" value="<%=@project_code%>">
               发起人：     <input type="text" size="10" name="event_sponsor" onkeydown="onclickText()" value="<%=@event_sponsor%>">
               状态：       <input type="text" size="10" name="current_status" onkeydown="onclickText()" value="<%=@current_status%>">
               <input type="button" value="查询" onclick="query()" class="btn3_mouseout">
             </td>
           </tr>
         </table>
       </td>
     </tr>
     <tr>
       <td width="100%" valign="top">
         <table align="center" cellpadding=0 cellspacing=0 border=0 style="width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
            <thead >
              <tr>
                <td class="td_header_bak2" width="">&nbsp;</td>
                <td class="td_header_bak3" width="">事件标识</td>　
                <td class="td_header_bak3" width="">事件名称</td>
                <td class="td_header_bak3" width="">标识事件类型</td>
                <td class="td_header_bak3" width="">项目</td>
                <td class="td_header_bak3" width="">当前阶段</td>
                <td class="td_header_bak3" width="">发起人</td>
                <td class="td_header_bak3" width="">事件发起时间</td>
              </tr>
            </thead>
            <tbody>
              <% for eventRecord in @eventRecord %>
                <tr>
                  <td class="td6" >&nbsp;
                     <input type="button" value="删除" onclick="delet()" class="btn3_mouseout">
                     <input type="button" value="事件生命周期" onclick="cycle()" class="btn3_mouseout">
                  </td>
                  <td class="td7" >&nbsp;<%=eventRecord.EVENT_CODE%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.EVENT_NAME%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.M_EVENT_TYPE%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.PROJECT_CODE%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.CURRENT_STATUS%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.EVENT_SPONSOR%></td>
                  <td class="td7" >&nbsp;<%=eventRecord.EVENT_TIME%></td>
                </tr>
              <%  end %>
            </tbody>
          </table>
       </td>
     </tr>
     <tr>
       <td><%= will_paginate @eventRecord %></td>
     </tr>
     <tr>
       <td align="center">
         <input type="button" value="添加" onclick="add()"    class="btn3_mouseout">&nbsp;&nbsp;
         <input type="button" value="修改" onclick="update()" class="btn3_mouseout">&nbsp;&nbsp;
         <input type="button" value="保存" onclick="save()"   class="btn3_mouseout">
       </td>
     </tr>
  </table>
<% end %>
  
  </body>
</html>