<html>
  <head>
    <BASE tager="_self">
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <link href="/stylesheets/style_table.css?1194846686" media="screen" rel="Stylesheet" type="text/css" /> 
    <%= stylesheet_link_tag "style_table" %>
    <%= stylesheet_link_tag "common_style" %>
    <%= javascript_include_tag "common" %>
  </head>

  <body>
    <table cellpadding=0 cellspacing=0 border=0 width=650px  height="200px">
      <tr>
        <td valign="top">
          <div style="overflow-x:auto;overflow-y:auto">
            <table cellpadding=0 cellspacing=0 border=0 style="width:100%;bordercolo:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
              <thead class="td_header_bak2">
                <tr>
                  <td colspan="2"><div align="left"><font color="green">产品名称:<% if @product_name!=nil then %><%=@product_name%><%end%></font></div></td>
                  <td colspan="2"><div align="left"><font color="green">产品版本:<% if @product_vers!=nil then %><%=@product_vers%><%end%></font></div></td>
                  <td colspan="2"><div align="left"><font color="green">对应的项目如下:</font></div></td>
                </tr>
                <tr>
                  <td class="td_header_bak2" width="80px">项目编号</td>
                  <td class="td_header_bak3" width="150px">项目名称</td>
                  <td class="td_header_bak3" width="80px">项目经理</td>
                  <td class="td_header_bak3" width="100px">产品编号</td>
                  <td class="td_header_bak3" width="100px">产品版本</td>
                  <td class="td_header_bak3" width="120px">项目配置负责人</td>
                </tr>
              </thead>
              <tbody>
                <%
                if @productProjects!=nil&&@productProjects.size>0 then
                    j = 1
                    for productProject in @productProjects%>
                      <tr>
                        <td class="td6">&nbsp;<%=productProject.PROJECT_CODE%></td>
                        <td class="td7" onmouseover="show(this,'DIV<%=j%>_1_2','DIV<%=j%>_1_1')" onmouseout="hide('DIV<%=j%>_1_2','DIV<%=j%>_1_1')">
                          &nbsp;
                          <font id="DIV<%=j%>_1_1">
                            <%=util.intercept(productProject.PROJECT_NAME, 0, 15)%>
                          </font>
                          <div id="DIV<%=j%>_1_2" style="background-color:#EFEFEF;VISIBILITY:hidden;WIDTH:100%;POSITION:absolute" onmouseover="show(this,'DIV<%=j%>_1_2','DIV<%=j%>_1_1')" onmouseout="hide('DIV<%=j%>_1_2','DIV<%=j%>_1_1')">
                              <%=productProject.PROJECT_NAME%>
                          </div>
                        </td>
                        <td class="td7">&nbsp;<%=productProject.PROJECT_MANAGER%></td>
                        <td class="td7">&nbsp;<%=productProject.PRODUCT_CODE%></td>
                        <td class="td7">&nbsp;<%=productProject.PRODUCT_VERS%></td>
                        <td class="td7">&nbsp;<%=productProject.PROJECT_CONF_PERSON%></td>
                      </tr>
                <%
                  j += 1
                end
                %>
                  <tr>
                    <td colspan="10">&nbsp;<%= will_paginate @productProjects%>  </td>
                  </tr>
                <%
                else
                %>
                  <tr>
                    <td class="td6">&nbsp;</td>
                    <td class="td7">&nbsp;</td>
                    <td class="td7">&nbsp;</td>
                    <td class="td7">&nbsp;</td>
                    <td class="td7">&nbsp;</td>
                    <td class="td7">&nbsp;</td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>