<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/stylesheets/common_style.css" type="text/css">
</head>
 
<body bgcolor="#000081" >
<form name="form">
     <%= tab_begin(@blockDefs,'ITEM_CYCLE_DIV',nil) %>
        <%= tabpage_begin('ITEM_CYCLE_DIV',true) %>
          AAAAA
        <%= tabpage_end %>

        <%= tabpage_begin("CONFIG_ITEM_DIV",false) %>
    	  BBBBB
        <%= tabpage_end %>

     <%=tab_end()%>
</form>
</body>
</html>
