<html>
  <head>  
        <meta http-equiv="Content-Type" content="text/html; charset=GB2312">  
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="软件产品配置信息查询">
        <%= stylesheet_link_tag "style_table" %>
  </head>
<body>
<form name="form">
     <%= tab_begin(@blockDefs,'PRODUCT_BASEINFO_DIV',nil) %>
        <%= tabpage_begin('PRODUCT_BASEINFO_DIV',true) %>
          <iframe name="product_baseinfo" id="product_baseinfo" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="/pages/scm/collquery/query/product_query_two/product_baseinfo_index.html"> </iframe>  
        <%= tabpage_end %>
</form>
</body>
</html>