<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/stylesheets/common_style.css" type="text/css">
</head>
 
<body bgcolor="#000081" >
<form name="form">
     <%= tab_begin(@blockDefs,'EVENT_CYCLE_DIV',nil) %>
        <%= tabpage_begin('EVENT_CYCLE_DIV',true) %>
          <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_one" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/event/note/event_cycle_one?event_code=<%=@event_code%>"> </iframe>  
        <%= tabpage_end %>

        <%= tabpage_begin("EVENT_CYCLE_XU_DIV",false) %>
    	  <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_two" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/event/note/event_cycle_two?event_code=<%=@event_code%>"> </iframe>
        <%= tabpage_end %>
        
        <%= tabpage_begin("CONFIG_ITEM_DIV",false) %>
    	  <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_three" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/event/note/config_item?flag=1&event_code=<%=@event_code%>"> </iframe>
        <%= tabpage_end %>
     <%=tab_end()%>
</form>
</body>
</html>
