<html>
  <head>
    <title>功能树</title>
    <meta http-equiv=Content-Type content="text/html; charset=GBK">   
  </head>
  <body leftmargin="6" topmargin="6" >
	
  <%= treeview_tag(@tree,@tree_sate) %>

  </body>
</html>