<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <%= stylesheet_link_tag "style_table" %> 
    <%= stylesheet_link_tag "common_style" %> 
    
    <script language="javascript">
        //确定按钮
        function save(){
            var msg = window.confirm("确认更改状态！");
	    window.status = (msg)?"true":"false";
            if(msg) {
                var me = document.forms[0];
                var obj = {};
                obj.current_stat = me.current_stat.value; 
                window.returnValue = obj;  
                window.close();
            } 
        }

        //关闭按钮
        function close_click(){
            window.close()
        }
    </script>
  </head>
  <body bgcolor="#F6F6F6">
    <% form_tag :action =>'index' do %>
    <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
        <tr>
          <td align="center"><b>配置项变更状态回溯</b></td>
        </tr>
        <tr>
          <td >&nbsp;
            <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
               <thead id="mytablehead">
                  <tr>
                     <td class="td_header_bak2" width="100px">变更号 </td>
                     <td class="td_header_bak3" width="100px">当前状态 </td>
                     <td class="td_header_bak3" width="100px">回溯状态 </td>
                  </tr>
               </thead>
               <tbody>
                    <tr>
                      <td class="td6" >&nbsp;<%=@configure.CONFIGURE_CHG_NO%></td>
                      <td class="td7" >&nbsp;<%=@configure.CURRENT_STATUS%></td>
                      <td class="td7" >&nbsp;
                        <select name="current_stat" stle="width:100%">
                           <% 
                           i = 0
                           for param in @param
                             if @configure.CURRENT_STATUS == param.PARAM_NAME
                           %> 
                              <option selected="true" value="<%=param.PARAM_CODE%>"><%=param.PARAM_NAME%></option>
                           <% else%>
                              <option value="<%=param.PARAM_CODE%>"><%=param.PARAM_NAME%></option>
                           <% end end %>
                        </select>
                      </td>
                    </tr>
               </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td align="center">
            <input type="button" value="关闭" onclick="close_click()" class="btn3_mouseout">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="确定" onclick="save()" class="btn3_mouseout">
          </td>
        </tr>
    </table>
    <% end %>
  </body>
</html>