
<html>
<head>
</head>
<body>
  <table width="100%" height="100%">
    <tr>
      <td>
        <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_one" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/item/query/item_chg_depict_one?configure_chg_no=<%=@configure_chg_no%>"> </iframe>
      </td>
    </tr>
    <tr>
      <td>
        <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_one" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/item/query/item_chg_depict_two?configure_chg_no=<%=@configure_chg_no%>"> </iframe>
      </td>
    </tr>
    <tr>
      <td>
        <iframe width="100%" height="100%" frameborder="0" name="cycle_iframe_one" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/item/query/item_chg_depict_three?configure_chg_no=<%=@configure_chg_no%>"> </iframe>
      </td>
    </tr>
  </table>
</body>
</html>
