<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <%= stylesheet_link_tag "style_table" %> 
    <%= stylesheet_link_tag "common_style" %> 
    
    <script language="javascript">
        function init(){
            var vlw = "<%=@quarters_validate[0]%>";
            var message = "<%=@message%>";
            var me = document.forms[0];
            if(vlw == "A") {
                me.EVENT_PRSN02.focus();
            }
            if(vlw == "B") {
                try{
                me.EVENT_PRSN01.focus();
                }catch(e){}
            }
            if(vlw == "C"){
                 
            }
            if(vlw == "C" || vlw == "D" || vlw == "E" || vlw == "F"){
                try{
                    me.tijiao_button.disabled ="false";
                    me.queding_button.disabled ="false";
                    me.stat_button.disabled ="false";
                } catch(e) {
                }
            }
            
            if(message != ""){
                alert(message);
                window.parent.frames["cycle_iframe_two"].location.href="/scm/event/note/event_cycle_two?event_code=<%=@event_code%>";
            }
        }
        
        //确定按钮
        function save(){
            var me = document.forms[0];
            me.queding_hidden.value="1";
            me.submit();
        }

        //提交到下一个状态
        function tijiao(){
            var me = document.forms[0];
            me.queding_hidden.value="2";
            me.submit();
        }

        //状态回溯
        function state(){
            url = "/scm/event/note/event_stat?event_code=<%=@event_code%>";
            var redata = window.showModalDialog(url, "状态回溯", "dialogHeight:200px;dialogWidth:500px;");
            if(redata != null){
                var me = document.forms[0];
                me.queding_hidden.value="3";
                me.current_stat.value  = redata.current_stat;
                me.submit();
            }
        }

        //需求变更的配置项
        function config(){
            url = "/scm/event/note/need_changed_items?event_code=<%=@event_code%>";
            window.open(url, "更改配置项", "menubar=no,location=no,toolbar=yes,scrollbars=yes,resizable=yes,width=1000px,height=450px");
        }
        
    </script>
  </head>
  <body bgcolor="#F6F6F6" onload="init()">
    <% form_tag :action =>'index' do %>
    <input type="hidden" name="queding_hidden">
    <input type="hidden" name="event_code" value="<%=@event_code%>">
    <input type="hidden" name="current_stat">
    <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
        <tr>
          <td align="center" height="30px"><b>事件生命周期</b></td>
        </tr>
        <tr>
          <td >&nbsp; 当前事件:<%=@eventRecord.EVENT_NAME%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当前状态:<%=@eventRecord.CURRENT_STATUS%></td>
        </tr>
        <tr>
          <td >&nbsp;
            <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
               <thead id="mytablehead">
                  <tr>
                     <td class="td_header_bak2" width="200px" colspan="3">状态=已创建 </td>
                  </tr>
               </thead>
               <tbody>
                  <% if @quarters_validate[0] == "A" then%>
                    <tr>
                      <td class="td6" width="30%">事件记录创建人</td>
                      <td class="td7" width="40%">&nbsp;<%=@oper.NAME%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_01_Yi%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">事件观察人</td>
                      <td class="td7" width="40%"><input type="text" name="EVENT_PRSN02" style="width:100%" value="<%=@configureMsgCycleDetYi.EVENT_PRSN02%>"></td>
                      <td class="td7" width="30%">日期和时间：<%=calendar_field :DATA,:data2,@date_02_Yi,1,{:date_format=>'%Y-%m-%d'}%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" rowspan="2">详尽的观察情况描述</td>
                      <td class="td7" colspan="2"><input type="text" name="REMARK_01" style="width:100%" value="<%=@configureMsgCycleDetYi.REMARK_01%>"></td>
                    </tr>
                    <tr>
                      <td class="td7" colspan="2"><input type="text" name="REMARK_02" style="width:100%" value="<%=@configureMsgCycleDetYi.REMARK_02%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >观察到事件的项目阶段</td>
                      <td class="td7" colspan="2"><input type="text" name="REMARK_03" style="width:100%" value="<%=@configureMsgCycleDetYi.REMARK_03%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >事件严重程度</td>
                      <td class="td7" colspan="2"><input type="text" name="CONCLUSION_01" style="width:100%" value="<%=@configureMsgCycleDetYi.CONCLUSION_01%>"></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td class="td6" width="30%">事件记录创建人</td>
                      <td class="td7" width="40%">&nbsp;<%=@configureMsgCycleDetYi.EVENT_PRSN01%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_01_Yi%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">事件观察人</td>
                      <td class="td7" width="40%">&nbsp;<%=@configureMsgCycleDetYi.EVENT_PRSN02%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_02_Yi%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" rowspan="2">详尽的观察情况描述</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetYi.REMARK_01%></td>
                    </tr>
                    <tr>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetYi.REMARK_02%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >观察到事件的项目阶段</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetYi.REMARK_03%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >事件严重程度</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetYi.CONCLUSION_01%></td>
                    </tr>
                  <% end %>
               </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td height="20px">&nbsp;</td>
        </tr>
        <tr>
          <td >&nbsp;
             <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
               <thead id="mytablehead">
                  <tr>
                     <td class="td_header_bak2" width="200px" colspan="3">状态=待评估</td>
                  </tr>
               </thead>
               <tbody>
                  <% if @quarters_validate[0] == "B" then%>
                    <tr>
                      <td class="td6" width="30%">事件转发评估人</td>
                      <td class="td7" width="40%"><input type="text" name="EVENT_PRSN01" style="width:100%" value="<%=@configureMsgCycleDetEr.EVENT_PRSN01%>"></td>
                      <td class="td7" width="30%">日期和时间：<%=calendar_field :DATA,:data1,@date_01_Er,1,{:date_format=>'%Y-%m-%d'}%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">事件评估人</td>
                      <td class="td7" width="40%">&nbsp;<%=@configureMsgCycleDetYi.EVENT_PRSN01%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_01_Yi%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">评估人分类</td>
                      <td class="td7" colspan="2"><input type="text" name="CONCLUSION_01" style="width:100%"  value="<%=@configureMsgCycleDetEr.CONCLUSION_01%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">详尽的解决方案描述</td>
                      <td class="td7" colspan="2"><input type="text" name="CONCLUSION_02" style="width:100%"  value="<%=@configureMsgCycleDetEr.CONCLUSION_02%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >其他受影响的配置项-说明影响</td>
                      <td class="td7" colspan=""><input type="text" name="REMARK_01" style="width:100%"  value="<%=@configureMsgCycleDetEr.REMARK_01%>"></td>
                      <td class="td7" colspan="">
                          <input type="button" value="需变更的配置项" onclick="config()" class="btn3_mouseout">
                      </td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >估计的纠错工作量</td>
                      <td class="td7" colspan="2"><input type="text" name="WORK_DAYS01" style="width:100%"  value="<%=@configureMsgCycleDetEr.WORK_DAYS01%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >估计的重复测试与回归测试工作量</td>
                      <td class="td7" colspan="2"><input type="text" name="WORK_DAYS02" style="width:100%"  value="<%=@configureMsgCycleDetEr.WORK_DAYS02%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >出现缺陷的阶段</td>
                      <td class="td7" colspan="2"><input type="text" name="REMARK_02" style="width:100%"  value="<%=@configureMsgCycleDetEr.REMARK_02%>"></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >工作区的描述</td>
                      <td class="td7" colspan="2"><input type="text" name="REMARK_03" style="width:100%"  value="<%=@configureMsgCycleDetEr.REMARK_03%>"></td>
                    </tr>
                  <% else %>
                    <tr>
                      <td class="td6" width="30%">事件转发评估人</td>
                      <td class="td7" width="40%">&nbsp;<%=@configureMsgCycleDetEr.EVENT_PRSN01%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_01_Er%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">事件评估人</td>
                      <td class="td7" width="40%">&nbsp;<%=@configureMsgCycleDetEr.EVENT_PRSN02%></td>
                      <td class="td7" width="30%">日期和时间：<%=@date_02_Er%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">评估人分类</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.CONCLUSION_01%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%">详尽的解决方案描述</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.CONCLUSION_02%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >其他受影响的配置项-说明影响</td>
                      <td class="td7" colspan="">&nbsp;<%=@configureMsgCycleDetEr.REMARK_01%></td>
                      <td class="td7" colspan="">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >估计的纠错工作量</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.WORK_DAYS01%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >估计的重复测试与回归测试工作量</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.WORK_DAYS02%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >出现缺陷的阶段</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.REMARK_02%></td>
                    </tr>
                    <tr>
                      <td class="td6" width="30%" >工作区的描述</td>
                      <td class="td7" colspan="2">&nbsp;<%=@configureMsgCycleDetEr.REMARK_03%></td>
                    </tr>
                  <% end %>
               </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table align="center">
              <tr>
                <td align="center">
                  <input type="button" onclick="save()" class="btn3_mouseout" name="queding_button" value="确定">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" onclick="tijiao()" class="btn3_mouseout" name="tijiao_button" value="提交<%=@quarters_validate[1]%>">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="button" onclick="state()" class="btn3_mouseout" name="stat_button" value="状态回溯">
                </td>
              </tr>
            </table>
          </td>
        </tr>
    </table>
    <% end %>
  </body>
</html>