<html>
<head>
<title>配置管理信息系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="/stylesheets/common_style.css" type="text/css">
</head>
 
<body bgcolor="#000081" >
<form name="form">
     <%= tab_begin(@blockDefs,'CONFIG_BASE_DIV',nil) %>
        <%= tabpage_begin('CONFIG_BASE_DIV',true) %>
          <iframe name="collquery_query_main_df" id="collquery_query_main_df" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="/pages/scm/collquery/query/index.htm"> </iframe>  
        <%= tabpage_end %>

        <%= tabpage_begin("CONFIG_QUERY_DIV",false) %>
    	  <iframe name="collquery_query_main_cf" id="collquery_query_main_cf" width="100%" height="100%" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto" src="/scm/collquery/query/config_item?checkflag_url=1"> </iframe>
        <%= tabpage_end %>
     <%=tab_end()%>
</form>
</body>
</html>
