<html>
  <head>
    <title>相关项目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <%= stylesheet_link_tag "style_table" %>    
  </head>
  <body bgcolor="#F6F6F6">
    <table align="center" cellpadding=0 cellspacing=0 border=0 style=" width:100%;bordercolor:#878787 ;border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px">
      <thead class="td_header_bak2">
        <tr>
          <td class="td_header_bak2" width="15%">项目编号</td>
          <td class="td_header_bak3" width="30%">项目名称</td>
          <td class="td_header_bak3" width="13%">项目经理</td>
          <td class="td_header_bak3" width="15%">配置责任人</td>
          <td class="td_header_bak3" width="10%">配置项版本</td>
          <td class="td_header_bak3" width="17%">项目配置负责人</td>
        </tr>
      </thead>
      <tbody>
        <%
        i = 0
        for project in @project 
        %>  
          <tr>
            <td class="td6" width="15%">&nbsp;<%=project.project_code%></td>
            <td class="td7" width="30%">&nbsp;<%=project.project_name%></td>
            <td class="td7" width="13%">&nbsp;<%=project.project_manager%></td>
            <td class="td7" width="10%">&nbsp;<%=project.conf_m_respon%></td>
            <td class="td7" width="10%">&nbsp;<%=project.configure_vers%></td>
            <td class="td7" width="17%">&nbsp;<%=project.project_conf_person%></td>
          </tr>
        <% 
          i = i + 1
        end
        if i<5 then
          i = 5 - i
          j = 0
          for j in [0,1,2,3,4]
        %>
          <tr>
            <td class="td6" width="15%">&nbsp;</td>
            <td class="td7" width="30%">&nbsp;</td>
            <td class="td7" width="13%">&nbsp;</td>
            <td class="td7" width="10%">&nbsp;</td>
            <td class="td7" width="10%">&nbsp;</td>
            <td class="td7" width="17%">&nbsp;</td>
          </tr>
        <%
          end
        end
        %>
      </tbody>
    </table>
  </body>
</html>